# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
yarn.lock
package-lock.json
bun.lockb

#Prisma
prisma/dev.db

# Misc
.DS_Store
.fleet
.idea
__MACOSX

# Local env files
.env
.env.*
!.env.example

#vscode
.vscode/settings.json